// scrollbars

* {-webkit-overflow-scrolling: auto}

::-webkit-scrollbar {width: 7px; height: 7px;}
::-webkit-scrollbar-track {margin: 5px}
::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, .8);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {background: rgba(200, 200, 200, 0.9)}

// buttons

.btn {
  @apply text-sm py-2 px-4 rounded-full;
  min-height: 32px;
  &:hover {
    @apply bg-blue-500 text-white;
  }
  &-sm {
    @apply py-1 px-3;
  }
  &-white {
    @apply bg-white;
    &:hover {
      @apply bg-white;
      color: inherit;
    }
  }
}
